<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @tweet.user.name %>
    <img src="<%= @tweet.user.profile_url %>" width="60" height="60" class="rounded-circle mb-2" >
</p>
</p>

<p>
<strong>Content:</strong>
<%= @tweet.content %>
</p>



<button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_tweet_path(@tweet) %> </button>
<button type="button" class="btn btn-outline-primary"><%= link_to 'Back', tweets_path %> </button>

