<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b596ab8e85.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    
    <div class="container">
    <%= yield %>
    </div>
    
  </body>
</html>
